.tags-artist-tag{
    font-size: 14px;
    padding: 15px 20px;
    margin: 1% 1%;
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    transition: 0.1s ease-out;

    &:hover{
        -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
        transform: scale(1.08);
        background-color: black;
        color: white;
        cursor: pointer;
    } 
}
.active{
    background-color: black;
    color: white;
    
}